<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Spring Boot + WebSocket 广播式</title>

</head>
<body onload="disconnect();">
    <noscript><h2 style="color:#ff0000">貌似你的浏览器不支持websocket</h2></noscript>
    <div>
        <div>
            <button id="connect" onclick="connect();">连接</button>
            <button id="disconnect" onclick="disconnect();">断开连接</button>
        </div>
        <div id="conversationDiv">
            <label>请输入你想说的话</label><input id="name" autocomplete="off" />
            <button id="send" onclick="sendMessage();">发送</button>
            <p id="response"></p>
        </div>
    </div>

    <script th:src="@{js/sockjs.min.js}"></script>
    <script th:src="@{js/stomp.min.js}"></script>
    <script th:src="@{js/jquery-3.2.1.js}"></script>
    <script type="text/javascript">
        var stompClient = null;
        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible':'hidden';
            $("#response").html();
        }
        function connect() {
            var socket = new SockJS('/endpointWisely');
            stompClient = Stomp.over(socket);
            stompClient.connect({},function (frame) {
                setConnected(true);
                console.log("开始进行连接Connected: " + frame);
                //subscribe订阅响应发送的消息
                stompClient.subscribe('/topic/getResponse',function (response) {
                    showResponse(JSON.parse(response.body).responseMessage);
                });
            });
        }
        function disconnect() {
            if(stompClient != null){
                stompClient.disconnect();
            }
            setConnected(false);
            console.info("Disconnected");
            
        }
        
        function sendMessage() {
            var name = $("#name").val();
            console.info("name = " + name);
            stompClient.send('/welcome', {}, JSON.stringify({'name':name}));
            $("#name").val("");
        }
        
        function showResponse(message) {
            var response = $("#response");
            var val = response.html();

            response.html(val + "<br />" + message);
        }
    </script>
</body>
</html>